.shoppies {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  h1 {
    font-family: "El Messiri", sans-serif;
    font-size: 36px;
    color: #fbac40;
  }
  .results-noms {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}
