.shoppies {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;

  h1 {
    font-size: 48px;
    letter-spacing: 5px;
    margin-right: -5px;
    color: #d4af37;
    margin-bottom: 2rem;
    transition: ease-in-out 0.4s;
    animation: fadeInSlide 0.6s;
  }
  .results-noms {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
