@media screen and (max-width: 1600px) {
  .shoppies {
    margin-top: 4rem;
    h1 {
      font-size: 40px;
    }
    .results-noms {
      width: 80%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .shoppies {
    h1 {
      font-size: 36px;
    }
  }
}
