* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Poiret One", cursive;

  background-image: url("./assets/arches.png"),
    linear-gradient(#000000, #647381);

  background-attachment: fixed;
  background-position: bottom;
}
