* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Poiret One", cursive;

  /* background-image: url("https://www.transparenttextures.com/patterns/arches.png"),
    linear-gradient(#000000, #616566); */
  background-image: url("https://www.transparenttextures.com/patterns/arches.png"),
    linear-gradient(#000000, #a98c2c);

  background-attachment: fixed;
  background-position: bottom;
}
